.logoImg {
  width: 150px;
  margin-right: 20rem;
}
.selfAlign {
  align-self: center;
  justify-self: center;
}
.flexLayoutNav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
}
a,
a:link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
a:visited {
  color: black;
}
.flexLayoutNavIcons {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  justify-content: end;
}
.navButton {
  background-color: #3498db;
  color: white;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  width: 120px;
}
.hideDrawer {
  display: none;
}
.iconSize {
  width: 25px;
  height: 25px;
  color: #3498db;
}
.flexLayoutNavBarMbl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
@media (max-width: 680px) {
  .flexLayoutNav {
    justify-content: start;
    gap: 3rem;
  }
}
@media (max-width: 900px) {
  .flexLayoutNav {
    justify-content: start;
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .displayDrawer {
    display: none;
  }
  .hideDrawer {
    display: block;
  }
}
