/* .gridSpecial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  row-gap: 3rem;
  column-gap: 3rem;
} */
.rightarrowSvg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.flexImg {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.specialityImg {
  width: 60%;
  height: auto;
  margin-bottom: 2rem;
}
.divPseudo1 {
  position: relative;
}
.divPseudo1::after {
  content: "$130";
  position: absolute;
  display: block;
  top: 20px;
  right: 149px;
  font-weight: 500;
}
.specialityImg2 {
  width: 80%;
}
.divPseudo2 {
  position: relative;
}
.divPseudo2::after {
  content: "$140";
  position: absolute;
  top: 20px;
  right: 83px;
  font-weight: 500;
}
.divPseudo3 {
  position: relative;
}
.divPseudo3::after {
  content: "$140";
  position: absolute;
  top: 20px;
  right: 150px;
}
.shopnow {
  width: 50%;
}
.SpecialityImg3 {
  width: 60%;
}
.specials {
  text-align: center;
  margin: 4rem 0;
}
.splImgText {
  letter-spacing: 1;
  line-height: 1.7;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.boxContent {
  margin-left: 5rem;
}
.specialButton {
  background-color: #3498db;
  color: white;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
