.layout {
  margin-top: 3rem;
  margin-bottom: 7rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.rightarrowSvg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.flexImg {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.specialityImg {
  width: 60%;
  height: auto;
  margin-bottom: 2rem;
}
.divPseudo1 {
  position: relative;
}
.divPseudo1::after {
  content: "$130";
  position: absolute;
  display: block;
  top: 20px;
  right: 149px;
  font-weight: 500;
}
.specialityImg2 {
  width: 80%;
}
.divPseudo2 {
  position: relative;
}
.divPseudo2::after {
  content: "$140";
  position: absolute;
  top: 20px;
  right: 83px;
  font-weight: 500;
}
.divPseudo3 {
  position: relative;
}
.divPseudo3::after {
  content: "$140";
  position: absolute;
  top: 20px;
  right: 150px;
}
.shopnow {
  width: 50%;
}
.SpecialityImg3 {
  width: 60%;
}
.specials {
  text-align: center;
  margin: 4rem 0;
}
.splImgText {
  letter-spacing: 1;
  line-height: 1.7;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.boxContent {
  margin-left: 5rem;
}
.specialButton {
  background-color: #3498db;
  color: white;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 680px) {
  .flexImg {
    justify-content: space-between;
    flex-direction: row;
  }
  .layout {
    padding: 2rem;
  }
  .divPseudo1::after {
    right: 120px;
  }
  .divPseudo2::after {
    right: 60px;
  }
  .divPseudo3::after {
    right: 59px;
    top: 7px;
  }
}
@media (max-width: 1500px) {
  .divPseudo1::after {
    right: 200px;
  }
  .divPseudo2::after {
    right: 125px;
  }
  .divPseudo3::after {
    right: 200px;
  }
}
@media (max-width: 1200px) {
  .divPseudo1::after {
    right: 160px;
  }
  .divPseudo2::after {
    right: 95px;
  }
  .divPseudo3::after {
    right: 160px;
  }
}

@media (max-width: 1200px) {
  .divPseudo1::after {
    right: 150px;
  }
  .divPseudo2::after {
    right: 83px;
  }
  .divPseudo3::after {
    right: 150px;
  }
}
@media (max-width: 600px) {
  .divPseudo1::after {
    right: 254px;
  }
  .divPseudo2::after {
    right: 150px;
  }
  .divPseudo3::after {
    right: 130px;
  }
}
@media (max-width: 520px) {
  .divPseudo1::after {
    left: 20px;
  }
  .divPseudo2::after {
    left: 20px;
  }
  .divPseudo3::after {
    left: 20px;
  }
}
